---
import base from '@lib/utils'
import {Icon} from "astro-icon/components";
import {pages} from "@lib/pages";

interface Props {
    class?: string;
}

const findPageLinks = (currentPath: string) => {
    let before: string | null = null;
    let after: string | null = null;
    const slugs = pages.map(page => {
        if (page.contents) {
            return page.contents.map((content) => page.src + "/" + content);
        } else {
            return page.src;
        }
    }).flatMap((x) => x);
    for (let i = 0; i < slugs.length; i++) {
        if (slugs[i] === currentPath) {
            if (i > 0) {
                before = slugs[i - 1];
            }
            if (i < slugs.length - 1) {
                after = slugs[i + 1];
            }
            break;
        }
    }
    return {before, after};
}

const {class: className} = Astro.props;
const {path} = Astro.params as { path: string };
const {before, after} = findPageLinks(path);
---

<footer class={`w-full py-4 px-6 bg-slate-200 text-slate-600 grid grid-cols-[0.6fr_1fr_0.6fr] dark:bg-slate-700 dark:text-slate-300 ${className}`}>
    <div class="flex items-center justify-start">
        {before &&
                <a href={base + before} class="flex items-center gap-2">
                    <Icon name="ic:round-chevron-left" class="h-full align-middle"/>
                    Previous
                </a>
        }
    </div>
    <div class="flex items-center justify-center">
        <p class="p-2">© 2024 MISC</p>
    </div>
    <div class="flex items-center justify-end">
        {after &&
                <a href={base + after} class="flex items-center gap-2">
                    Next
                    <Icon name="ic:round-chevron-right" class="h-full align-middle"/>
                </a>
        }
    </div>
</footer>
