---
import { Icon } from "astro-icon/components";
import Navbar from "@lib/component/Navbar.astro";
interface Props {
    class?: string;
}
const { class: className } = Astro.props
---

<header class={`w-full h-[60px] p-4 bg-slate-900 text-white fixed flex justify-between align-middle ${className}`}>
    <div class="flex align-middle gap-2">
        <div id="menubar" class="flex align-middle items-center cursor-pointer md:hidden">
            <Icon name="ic:round-menu" class="h-5 w-5 align-middle" />
        </div>
        <h1 class="flex items-center">MISC RuleBook Common</h1>
    </div>
    <div class="flex align-middle">
        <div></div>
        <div class="flex flex-row align-middle gap-1 border border-slate-500 rounded-full px-2">
            <Icon name="ic:baseline-search" class="flex h-full align-middle" />
            <label>
                <input type="text" placeholder="search" class="bg-slate-900 focus:ring-opacity-0" />
            </label>
        </div>
    </div>
</header>

<div id="wrapper" style="opacity: 0; pointer-events: none" class="fixed transition-opacity duration-300 ease-in-out top-[60px] w-full h-full bg-slate-200/60 md:hidden" />

<div id="sidebar" style="left: -100%; top: 60px;" class="fixed transition-left duration-300 ease-in-out h-[calc(100%-60px)] z-50 shadow-2xl">
    <Navbar class="w-[220px]" />
</div>

<script>
    const menubar = document.getElementById('menubar');
    const wrapper = document.getElementById('wrapper');
    const sidebar = document.getElementById('sidebar');
    let toggle: boolean = false;

    console.log(menubar, wrapper, sidebar);

    if (menubar && wrapper && sidebar) {
        menubar.addEventListener('click', () => {
            if (toggle) {
                wrapper.style.opacity = '0';
                wrapper.style.pointerEvents = 'none';
                sidebar.style.left = '-100%';
                toggle = false;
            } else {
                wrapper.style.opacity = '1';
                wrapper.style.pointerEvents = 'auto';
                sidebar.style.left = '0';
                toggle = true;
            }
        });

        wrapper.addEventListener('click', () => {
            wrapper.style.opacity = '0';
            wrapper.style.pointerEvents = 'none';
            sidebar.style.left = '-100%';
            toggle = false;
        });
    }
</script>