---
import { Icon } from "astro-icon/components";
---

<div
  class="flex align-middle w-[60px] border border-slate-300 rounded-full px-1.5"
>
  <button name="theme" class="w-full">
    <span
      class="flex flex-row w-full align-middle items-center justify-between"
    >
      <Icon
        name="ic:round-dark-mode"
        class="h-5 w-5 rotate-180 dark:rotate-0 scale-0 dark:scale-100"
      />
      <Icon
        name="ic:round-light-mode"
        class="h-5 w-5 rotate-180 dark:rotate-0 scale-100 dark:scale-0"
      />
    </span>
  </button>
</div>

<script>
  const applyTheme = () => {
    const buttonElem = document.querySelector("button[name='theme']");
    const htmlElem = document.documentElement;

    if (buttonElem == null) return;

    buttonElem.addEventListener("click", () => {
      const theme = htmlElem.classList.contains("dark") ? "light" : "dark";

      if (theme === "dark") {
        htmlElem.classList.add("dark");
      } else {
        htmlElem.classList.remove("dark");
      }

      localStorage.setItem("theme", theme);
    });
  };

  applyTheme();
  document.addEventListener("astro:after-swap", applyTheme);
</script>

<style lang="postcss" is:global>
    button[name="theme"] span {
        clip-path: circle(10px at 35px center);
    }

    html.dark button[name="theme"] span {
        clip-path: circle(10px at 10px center);
    }
</style>
