---
import Layout from "@layout/default.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const mds = await getCollection("md");
    return mds.map((entry: { [x: string]: any; slug: string }) => ({
        params: { path: `/${entry.slug}` },
        props: { entry },
    }));
}
const {entry} = Astro.props as { entry: any };
const { Content } = await entry.render();
const heads = await entry.body.split("\n").filter((line: string) => line.startsWith("#"));
---

<Layout>
    <article class="p-10 lg:mr-[250px]">
        <Content />
        {heads.length > 0 &&
                <div class="hidden fixed top-[80px] right-[40px] w-[200px] p-2 border border-slate-200 rounded-lg shadow-md lg:block">
                    {heads.map((head: string) => (
                            <div class={`p-2 ${head.startsWith("###") ? "pl-4" : ""}`}>
                                <a href={`#${head.replace(/#/g, "").replace(/ /g, "")}`}>{head.replace(/#/g, "")}</a>
                            </div>
                    ))}
                </div>
        }
    </article>
</Layout>
