---
import Main from "./main.astro"
import Header from "@lib/component/Header.astro"
import Navbar from "@lib/component/Navbar.astro"
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>MICS RuleBook Common</title>
</head>
<body>
    <Header/>
    <div class="pt-[60px] grid grid-cols-[200px_1fr] w-screen h-screen">
        <Navbar />
        <Main />
    </div>
</body>
</html>