---
import Header from "@lib/component/Header.astro";
import Footer from "@lib/component/Footer.astro";
import Navbar from "@lib/component/Navbar.astro";
import base from "@lib/utils";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
}

const { title = "MISC RuleBook Common" } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={base.slice(0, -1) + `/favicon.svg`}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="description" content="MISC RuleBook Common" />
    <title>{title}</title>

    <script is:inline>
      const applyTheme = () => {
        const isDarkInit = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        const theme = localStorage.getItem("theme");
        const htmlElem = document.documentElement;

        if (theme == null) {
          if (isDarkInit) {
            htmlElem.classList.add("dark");
          }
        } else {
          if (theme === "dark") {
            htmlElem.classList.add("dark");
          } else {
            htmlElem.classList.remove("dark");
          }
        }
      };

      applyTheme();
      document.addEventListener("astro:after-swap", applyTheme);
    </script>

    <style is:global>
      body {
        transition:
          color 0.2s,
          background-color 0.2s;
      }
    </style>
    <ViewTransitions />
  </head>
  <body
    class="grid grid-cols-[1fr] grid-rows-[60px_1fr] w-screen h-screen md:grid-cols-[220px_1fr] bg-slate-50 dark:bg-slate-800"
  >
    <Header class="col-span-full" />
    <div class="hidden row-start-2 col-start-1 h-[100vh-60px] md:block">
      <Navbar />
    </div>
    <main class="row-start-2 h-[screen-60px] overflow-y-auto md:col-start-2">
      <div class="min-h-[calc(100%-100px)]">
        <slot />
      </div>
      <Footer class="min-h-[100px]" />
    </main>
  </body>
</html>
