---
import pages from "@lib/pages";
const { path } = Astro.params;
console.log(path);
let title = "";
pages.map((page) => {
    if (page.contents) {
        const contents = page.contents;
        contents.map((content) => {
            if (`${page.src}/${content.src}` == path) {
                title = content.title;
            }
        });
    } else {
        if (`${page.src}` == path) {
            title = page.title;
        }
    }
});
---

<h1>{title}</h1>
<slot />

<style is:global lang="postcss">
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

    article {
        font-family: "M PLUS 1", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;

        h1 {
            @apply text-3xl font-bold pb-2 mb-2 border-b-2 border-slate-300 cursor-pointer;
        }

        h2 {
            @apply text-2xl font-bold py-4 cursor-pointer relative;

            &::before {
                content: "#";
                @apply absolute -left-[0.8em] text-slate-300 opacity-0 transition-opacity duration-200;
            }

            &:hover::before {
                @apply opacity-100;
            }
        }

        h3 {
            @apply text-xl font-bold;
        }

        p {
            @apply pl-[0.05em] pb-2;
        }

        a {
            @apply text-blue-500;
        }

        pre {
            @apply p-4 bg-slate-800 text-white rounded-lg;
        }

        code {
            @apply px-1 font-mono bg-slate-200 text-slate-600 rounded-sm;
        }
    }
</style>
