---
import pages from "@lib/pages"
const { path } = Astro.params
console.log(path)
let title = pages.map((page) => {
    if (page.contents) {
        const contents = page.contents
        contents.map((content) => {
            if (`${page.src}/${content.src}` == path) {
                return content.title
            }
        })
    } else {
        if (`${page.src}` == path) {
            return page.title
        }
    }
})
---

<h1>{title}</h1>
<slot />