---
interface Props {
    data: {
        title: string;
        tags: string[];
    }
}

const {title, tags} = Astro.props.data;
---

<h1 class={tags.includes("ness") ? "ness" : ''}>{title}</h1>
<slot/>

<style is:global lang="postcss">
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

    .ness::after {
        content: "Important";
        @apply text-red-400 dark:text-red-500 text-lg h-full border border-red-400 ml-4 px-2 rounded-full inline-flex align-middle;
    }

    article {
        font-family: "M PLUS 1", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;

        h1, h2, h3 {
            @apply text-slate-800 dark:text-slate-200;
        }

        p, li {
            @apply text-slate-700 dark:text-slate-300;

            svg {
                @apply h-4 w-4 text-slate-600 dark:text-slate-400;
            }
        }

        h1 {
            @apply text-3xl font-bold pb-2 mb-2 border-b-2 border-slate-300 cursor-pointer;
        }

        h2 {
            @apply text-2xl font-bold py-4 cursor-pointer relative;

            &::before {
                content: "#";
                @apply absolute -left-[0.8em] text-slate-300 opacity-0 transition-opacity duration-200;
            }

            &:hover::before {
                @apply opacity-0 lg:opacity-100;
            }
        }

        h3 {
            @apply text-xl font-bold　pb-2 pt-4 cursor-pointer relative;
        }

        p {
            @apply pl-[0.05em] pb-2;
        }

        a {
            @apply text-blue-500 dark:text-blue-300;
        }

        pre {
            @apply p-4 bg-slate-800 text-white rounded-lg dark:bg-slate-200 dark:text-slate-800 overflow-x-auto;
        }

        code {
            @apply px-1 inline-flex flex-wrap align-baseline font-mono bg-slate-200 text-slate-600 rounded-md dark:bg-slate-800 dark:text-slate-200;
        }

        ul {
            @apply list-disc pl-4;
        }

        ol {
            @apply list-decimal pl-4;
        }

        ul, ol {
            @apply pt-2;

            li {
                @apply pb-2;

                ::marker {
                    @apply text-slate-600 dark:text-slate-400;
                }
            }
        }

        table {
            @apply w-full border-collapse table-auto rounded-lg overflow-hidden border border-slate-300 my-4 shadow-md dark:shadow-none;

            thead {
                @apply bg-slate-200 dark:bg-slate-900;
            }

            tbody {
                @apply bg-slate-100 dark:bg-slate-700;
            }

            th, td {
                @apply border border-slate-300 p-2 text-slate-700 text-center whitespace-nowrap dark:text-slate-300 dark:border-slate-600;
            }
        }
    }
</style>
